<h1>Add Country</h1>
<br><br>
<li>One error message to be displayed if Country exists</li><br>
<li>Two message to be displayed if trying to add empty fields</li><br>

<form action="/addCountry" method="POST">
    <label>Country Code</label>
    <input type="text" name="code"><br>
    <label>Country Name</label>
    <input type="text" name="name"><br>
    <label>Country Details</label>
    <textarea type="text" name="details"></textarea><br>
    <input type="submit" value="Add">
</form>
    <br><br>
  <a href ="/">Home</a>

