<h1>Add Head of State</h1>

<br>

<li>Two fields with requirments if fields are empty and try to add</li><br>
<li>One field error message if country code not exist in MySql database</li><br>


<form action="/addHeadOfState" method="POST">
    <label>Country Code:</label>
    <input type="text" name="_id"><br>
    <label>Head of State</label>
    <input type="text" name="headOfState"><br>

    <input type="submit" value="Add">
    <br><br>
  <a href ="/">Home</a>


