<h1>Edit Country</h1>

<br><br>
<form action="/addCountry" method="POST">
  <label>Country Code</label>
  <input type="text" name="code"><br>
  <label>Country Name</label>
  <input type="text" name="name"><br>
  <label>Country Details</label>
  <textarea type="text" name="details"></textarea><br>
  <input type="submit" value="Update">
</form>
    <br><br>
  <a href ="/">Home</a>

